@import "../../../variables";

.subNav {
  padding: 3em 1.5em;
  overflow-x: hidden;
}

.subNavGroup {
  margin-bottom: 3em;
}

.sectionHeading {
  font-weight: bold;
  font-size: 1.05em;
  text-transform: uppercase;
  color: #000000;
}

.itemsWrapper {
  padding: 0;
  list-style: none;
}

.item {
  font-size: 1.05em;
  color: #686868;
  white-space: nowrap;

  &:hover {
    color: black;
    cursor: pointer;
  }
}